<script src="https://code.highcharts.com/highcharts.js"></script>

<body>
    <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
        let data = '<%- ( result ) %>';
        data = JSON.parse(data);
        let matchesData = [];
        data.forEach((key) => {
            console.log(typeof (key.data));
            var obj = {
                "name": key.name,
                "data": key.data
            }
            matchesData.push(obj);
        })
        console.log(matchesData);


        plotGraph(matchesData);



        function plotGraph(chartData) {
            var chart = Highcharts.chart('container2', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Total matches Won per team in all the year'
                },
                xAxis: {
                    categories: ["2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Total matches Won'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: chartData
            });
        }
    </script>
</body>