
<script src="https://code.highcharts.com/highcharts.js"></script>

<body>
    <div id="container4" style="min-width: 400px; height: 700px; margin: 0 auto"></div>
    <script type="text/javascript">
      let data = '<%- ( result ) %>';
      data = JSON.parse(data);
      let matchesData =[];
      Object.keys(data).forEach((key) => {
        var obj = {
          "name": key,
          "y": parseFloat(data[key])
        }
        matchesData.push(obj);
      })
      console.log(matchesData);

      function matchesPerYearGraph() {
        var chartType = "column";
        var chartTitle = "IPL Matches Per Year";
        var chartXaxis = {
            type: "category",
            labels: {
                rotation: -45,
                style: {
                    fontSize: "13px",
                    fontFamily: "Verdana, sans-serif"
                }
            }
        };
    
        var chartYaxis = {
            min: 0,
            title: {
                text: "Matches Per Year"
            }
        };
    
        var chartData = [{
            "colorByPoint": true,
            data: matchesData,
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: "#FFFFFF",
                align: "right",
                format: "{point.y:1f}",
                y: 10,
                style: {
                    fontSize: "13px",
                    fontFamily: "Verdana, sans-serif"
                }
            }
        }];
        var chartLegend = {
            enabled: false
        };
        var plotOptions = {
            series: {
                stacking: 'normal'
            }
        };
    plotGraph(chartType, chartTitle, chartXaxis, chartYaxis, chartData, chartLegend, plotOptions);
  }
  
  
  function plotGraph(chartType, chartTitle, chartXaxis, chartYaxis, chartData, chartLegend, plotOptions) {
    var chart = Highcharts.chart("container4", {
        chart: {
            type: chartType
        },
        title: {
            text: chartTitle
        },
        xAxis: chartXaxis,
        yAxis: chartYaxis,
        legend: chartLegend,
        plotOptions: plotOptions,
        series: chartData,
  
    });
  }
  
  matchesPerYearGraph();
    </script>
</body>